@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@theme {
  --shadow-primary: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

@theme {
  --color-lightBlack: #000000cc;
}

html {
  @apply scroll-smooth;
}


@custom-variant dark (&:where(.dark, .dark *));